.heading{
    font-size: 20px;
    margin:0;
width: 100%;


}
.note{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}
.play_song{
    box-shadow: 5px 5px 5px lightgreen;
    font-size: 20px;
    font-family: cursive;
}

    canvas{
        background-color:#000000 ;
       border: 5px solid white;
border-radius: 20px;
box-shadow: 5px 5px 5px #73cfd8;

    }


